[package]
name = "general-sam-py"
version = "0.6.1"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Python bindings for general-sam and some utilities"
homepage = "https://github.com/ModelTC/general-sam-py"
repository = "https://github.com/ModelTC/general-sam-py"
readme = "README.md"
authors = ["Chielo Newctle <ChieloNewctle@gmail.com>"]

[lib]
name = "general_sam"
crate-type = ["cdylib"]

[dependencies]
general-sam = { version = "0.6.1", features = ["all"] }
pyo3 = { version = "0.20.0", features = [
  "extension-module",
  "abi3-py38",
  "generate-import-lib",
] }
either = "1.9.0"
